# Environments
.venv/
env/
venv/
__pycache__/
*.pyc

# IDEs
.vscode/

# Ignore massive raw data, but keep the processed matched data for Streamlit
data/raw/

# Keep processed and matched data for the cloud!
!data/processed/
